tt.literal {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f9f2f4;
    border-radius: 4px;
}

/* bootstrap users blockquote for pull quotes, so they are much
larger, we need them smaller */
blockquote { font-size: 1em; }

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

tbody>tr:nth-child(odd)>td,
tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}

table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

td>p {
    margin: 0 0 0.5em;
}

div.document {
    width: 80% !important;
}

@media (max-width: 1200px) {
    div.document {
        width: 960px !important;
    }
}

.operation-grp {
    padding-top: 0.5em;
    padding-bottom: 1em;
}

/* Ensure the method buttons and their links don't split lines when
the page is narrower */
.operation {
    /* this moves the link icon into the gutter */
    margin-left: -1.25em;
    margin-right: 1.25em;
    white-space: nowrap;
}

/* These make the links only show up on hover */
a.operation-anchor {
  visibility: hidden;
}

.operation-grp:hover a.operation-anchor {
  visibility: visible;
}

/* All tables for requests should be full width */

.api-detail table.docutils {
    width: 100%;
}

.versionmodified {
    font-weight: bold;
}

.label-POST {
  background-color: #5cb85c;
}
.label-POST[href]:hover,
.label-POST[href]:focus {
  background-color: #449d44;
}
.label-GET,
.label-HEAD {
  background-color: #5bc0de;
}
.label-GET[href]:hover,
.label-GET[href]:focus,
.label-HEAD[href]:hover,
.label-HEAD[href]:focus  {
  background-color: #31b0d5;
}
.label-PUT,
.label-PATCH  {
  background-color: #f0ad4e;
}
.label-PUT[href]:hover,
.label-PUT[href]:focus,
.label-PATCH[href]:hover,
.label-PATCH[href]:focus {
  background-color: #ec971f;
}
.label-DELETE {
  background-color: #d9534f;
}
.label-DELETE[href]:hover,
.label-DELETE[href]:focus {
  background-color: #c9302c;
}

span.path_parameter {
  font-family: monospace;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px;
}
